[submodule "test/wallet_integration/everwallet/ton-labs-contracts"]
	path = test/wallet_integration/everwallet/ton-labs-contracts
	url = https://github.com/tonlabs/ton-labs-contracts.git
[submodule "test/wallet_integration/everwallet/ton-eth-bridge-token-contracts"]
	path = test/wallet_integration/everwallet/ton-eth-bridge-token-contracts
	url = https://github.com/broxus/ton-eth-bridge-token-contracts.git
